#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.page-section {
  padding: 1em;
}

.page-section:not(:last-child) {
  border-bottom: solid 1px var(--text-color);
}

#main-header {
  text-align: left;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

#main-header .title {
  margin: 0 auto;
  font-size: 1.5rem;
}

#main-header .title a:not(:hover) {
  color: inherit;
}

#search-section {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
}

.section-title {
  font-size: 1rem;
  text-transform: uppercase;
}

.field {
  padding: 0.5em 1em;
  border: solid 1px var(--text-color);
  line-height: 1.5;
  border-radius: 2px;
}

.block-field {
  display: block;
  margin: 0 0 0.75rem;
}

.jumbo-search {
  width: 50vw;
  min-width: 240px;
  max-width: 800px;
  font-size: 1.5rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
  gap: 1rem;
}

.movie-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50%;
  margin: 0;
  padding: 1em;
  border: solid 1px var(--text-color);
  border-radius: 2px;
}

.list .movie-list-item {
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: left;
}

.movie-list-picture {
  display: block;
  color: #aa4500;
}

.list .movie-list-picture {
  margin: 0 1rem 0 0;
  max-width: 60px;
}

.results-overlay {
  position: absolute;
  max-height: 50vh;
  overflow: auto;
  left: 10vw;
  right: 10vw;
  transform: translate3d(0, -1.5rem, 0);
  background: var(--background-color);
  box-shadow: rgb(0 0 0 / 25%) 0 9px 8px 8px;
  border-radius: 7px;
}

.close-button {
  display: block;
  width: 100%;
  text-align: right;
  background: inherit;
  border: 0;
}
